## Spark DataFrame Basics

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

/home/bishwa/spark/sparkenv/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [4]:
df = spark.read.json('people.json')
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [7]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [8]:
data_schema = [ StructField('age',IntegerType(),True),
                StructField('name',StringType(),True) ]

In [9]:
data_struct = StructType(fields=data_schema)

In [10]:
df = spark.read.json('people.json',
                     schema=data_struct)

df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [12]:
type(df['age']) # column object

pyspark.sql.column.Column

In [14]:
df.select(df['age']).show() # row object

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [17]:
for cols in df.columns:
    df_ = df.select(cols)
    print(df_)
    df_.show()

DataFrame[age: int]
+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

DataFrame[name: string]
+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [21]:
# create new columns
df.withColumn('DoubleAge',df['age']*2).show()

+----+-------+---------+
| age|   name|DoubleAge|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [22]:
# rename columns
df.withColumnRenamed('age','age_renamed').show()

+-----------+-------+
|age_renamed|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

## Running SQL queries in Spark

In [23]:
df.createOrReplaceTempView('people')

In [24]:
results = spark.sql('SELECT * FROM people')
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+